<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 完全的网络访问权限 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- 获取所有软件包 -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" /> <!-- 删除软件包 -->
    <uses-permission android:name="android.permission.FAKE_PACKAGE_SIGNATURE" /> <!-- 虚拟签名欺骗 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 前台服务 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 弹出通知 -->

    <application>

        <meta-data
            android:name="fake-signature"
            android:value="@string/fake_signature" />
        
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LibEcosed">
            <meta-data
                android:name="android.app.lib_name"
                android:value="libecosed" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.EcosedService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".service.BillingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
            </intent-filter>
        </service>

        <service
            android:name=".service.LicensingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.licensing.ILicensingService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.LiveWallpaper"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/live_wallpaper" />
        </service>

        <service
            android:name=".service.EcosedTile"
            android:exported="true"
            android:icon="@drawable/baseline_keyboard_command_key_24"
            android:label="@string/lib_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name=".provider.EcosedProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>