<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取内部存储 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- 读取照片 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- 获取所有软件包 -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" /> <!-- 删除软件包 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 通知 -->
    <uses-permission android:name="android.permission.FAKE_PACKAGE_SIGNATURE" /> <!-- 签名欺骗 -->

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TermPlux"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <meta-data
            android:name="fake-signature"
            android:value="@string/fake_signature" />
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.TermPlux"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MainService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
            </intent-filter>
        </service>
        <service
            android:name=".services.LiveWallpaper"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_config" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
        </service>
        <service
            android:name=".services.QuickSettings"
            android:exported="true"
            android:icon="@drawable/baseline_terminal_24"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name=".provider.MainProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>